#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Fingerprint
on boot
    #for silead fingeprint
    mkdir /data/vendor/silead 0777 system system
    chown system system /dev/silead_fp
    chmod 0660 /dev/silead_fp
    chown system system /dev/spidev1.0
    chmod 0660 /dev/spidev1.0
    chown system system /dev/silead_stub
    chmod 0660 /dev/silead_stub

    #for goodix dump
    mkdir /data/vendor/goodix 0777 system system
    mkdir /data/vendor_de/0/goodix 0770 system system

    #fpc fingerprint
    chown system system  /sys/bus/platform/devices/soc:fpc1020/hw_reset
    chown system system  /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system  /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system  /sys/bus/platform/devices/soc:fpc1020/regulator_enable
    chown system system  /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chown system system  /sys/bus/platform/devices/soc:fpc1020/fingerdown_wait

    chmod 0644  /sys/bus/platform/devices/soc:fpc1020/hw_reset
    chmod 0644  /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0644  /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0644  /sys/bus/platform/devices/soc:fpc1020/regulator_enable
    chmod 0644  /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0644 /sys/bus/platform/devices/soc:fpc1020/fingerdown_wait

# NFC
service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

on boot && property:ro.boot.product.hardware.sku=nfc
    enable vendor.nfc_hal_service
