#
# Copyright (C) 2023-2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    disabled
    class early_hal
    user nfc
    group nfc

service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    override
    disabled
    class hal
    user system
    group nfc system

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    override
    disabled
    class hal
    user system
    group system

on property:ro.boot.product.hardware.sku=pn557
    enable vendor.nfc_hal_service

on property:ro.boot.product.hardware.sku=sn100
    enable vendor.nfc_hal_service
    enable qti_esepowermanager_service_1_1
    enable secureelement-hal_1_2
